.project
.settings
.classpath
node_modules
config*.js
!src/config.js
!config.example.js
!config.travis-ci.js
.DS_Store
npm-debug.log
logs/*
public/app*.js
public/main*.js
public/app*.css
test/screenshots/*
phantomjsdriver.log
