.project
.settings
.classpath
.brackets.json
node_modules
config*.js
!src/config.js
!contrib/docker/config.production.js
!config.example.js
!config.travis-ci.js
.DS_Store
npm-debug.log
logs/*
public/app*.js
public/main*.js
public/app*.css
test/screenshots/*
phantomjsdriver.log
.com.google.Chrome*
