module.exports = {
    version: '0.1.0',

    database: {
        name: 'test',
        host: '127.0.0.1',
        port: 27017
    },
    
    app: {
	    twitter: "pinittome", 
	    analytics: {
	        google: 'UA-XXXX-XX' 
	    }
    }
};
