<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1><%= title %></h1> 
    <p><%= message %></p>
</div>



<hr>

<footer>
    <p>&copy; Company 2013</p>
</footer>