<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Bolocks something has gone wrong!</h1> 
    <p><%= title %></p>
</div>

<p><%= message %></p>

<hr>

<footer>
    <p>&copy; Company 2013</p>
</footer>