<div class="row">
    <div class="span8">
        <h2>About</h2>
        <p><%= name %> is an infinite virtual corkboard which can be put to use in many different ways!</p>
        <p>Best of all <%= name %> is open source so you are welcome to make improvements to the system or run your 
        own instance. </p>
        <p>We're currently still in <strong>alpha</strong> but hope to improve the system over the coming weeks and get 
        a stable product out there. In the meantime please feel free to use and 
        <a href="https://github.com/pinittome/pinitto.me/issues" target="_blank">let us know about any problems</a>.</p>
    </div>
    <div class="span4">
        <h2>Team</h2>
        <p>The fools that currently put this system together... </p>
        <img src="http://www.gravatar.com/avatar/119f0492b4596d6e81cf5dcf9ae30883" class="img-polaroid" />
        <p><a href="https://twitter.com/lloydwatkin" target="_blank">@lloydwatkin</a></p>
        <img src="http://www.gravatar.com/avatar/fd477ec77863eb65d8bcdb3b044abd7b" class="img-polaroid" />
        <p><a href="https://twitter.com/jonnyheavey" target="_blank">@jonnyheavey</a></p>
        <p class="text-success">Want your name here? Get in touch and help out</p>
   </div>
</div>
