<div class="page-header">
    <h1>Create a new board</h1>
</div>
<% if (typeof(errors) != 'undefined') { %>
<script type="text/javascript">
var errors = <%- errors %>
</script>
<% } %>
<div class="row">
    <div class="span7">
        <h2>A few details...</h2>
        <form class="form-horizontal" method="post">
            <fieldset>
                <legend>Administrator</legend>
                <div class="control-group">
	                <label class="control-label" for="owner">Email address</label>
	                <div class="controls">
	                	<input type="email" name="owner" placeholder="Email goes here..." />
	                	
	                </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Board properties</legend>
                <div class="control-group">
	                <label class="control-label" for="board-name">Board name</label>
	                <div class="controls">
	                	<input type="text" name="board-name" placeholder="Board name (optional)" />
	                </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Access</legend>
                <div class="control-group">
	                <label class="control-label" for="password-admin">Password</label>
	                <div class="controls">
	                	<input type="password" onmouseover="this.title=this.value" name="password-admin" placeholder="" />
	                </div>
                </div>
                <img src="/img/captcha.jpg" class="captcha" />
                <div class="control-group">
	                <label class="control-label" for="pdigits">Captcha</label>
	                <div class="controls">
	                	<input type="text" name="digits"/>
	                </div>
                </div>
            </fieldset> 
         
            <div class="control-group" >  
	            <div class="form-actions">
				    <button type="submit" class="btn btn-primary">Create board</button>
				    <button type="button" class="btn leave">Cancel</button>
				</div>
		    </div>                    
        </form>
    </div>
    <div class="span5">
        <h2>Help</h2>
        <p class="lead">The best bit about this that all of these fields are optional!</p>
        <h3>Email</h3>
        <p>Your email is used to remind you of your board 
        password<% if (typeof(board) !== 'undefined' && typeof(board.expiry) !== 'undefined') { %>
        , and to inform you when your board is about to expire (currently after <%=board.expiry %> days of inactivity)</p>
        <% } %>.
        <h3>Board name</h3>
        <p>Completely optional, but hey it makes it all a bit more personal!</p>
        <h3>Password</h3>
        <p>Again this is optional, but if you want to prevent access to your board enter a password here.</p>
        <p>Hover over the password box to see what you've entered already.</p>
        <p class="text-warning">Warning: not setting a password leaves your board open to abuse by those wishing to do bad.</p>
   </div>
</div>
