<div class="page-header-banner">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1><%= pageName %></h1>
			</div>
		</div>
	</div>
</div>

<div class="container">

    <div class="row">
        <div class="span12">
        <h2>Features</h2>
        <ul>
            <li><i class="icon-pushpin"></i> Realtime collaboration</li>
            <li><i class="icon-pushpin"></i> Safe and secure</li>                
            <li><i class="icon-pushpin"></i> Board access controls</li>
            <li><i class="icon-pushpin"></i> Free to use</li>
            <li><i class="icon-pushpin"></i> Open source, run your own instance</li>
        </ul>
        <h2>Use cases</h2>
        <p><i>We'll start documenting use cases soon....</i></p>
        </div>
    </div>

</div> <!-- /container -->
