@import url('resizeable.css');

.card {
    min-width: 75px !important;
    padding: 0;
    float: left;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5), inset 0 0 1px rgba(255, 255, 255, .8);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5), inset 0 0 1px rgba(255, 255, 255, .8);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5), inset 0 0 1px rgba(255, 255, 255, .8), inset 0 6px 6px rgba(0, 0, 0, .1);  
}
.card textarea {
    width: 100%;
    height: 99%;
    resize: none;
    background-color: transparent;
    border: 0;
    color: #000000;
    overflow: hidden;
    z-index: 10;
    font-size: 13px;
    line-height: 16px;
    padding: 5px;    
}
.card textarea:focus {
    outline: none;
}
.card .controls {
    display: none;
    float: left;
    position: absolute;
    top: -24px;
    right: 0;
    width: 100%; width: -moz-calc(100% - 4px); width: calc(100% - 4px);
    padding: 2px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    color: #ddd;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    z-index: 20;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}
div.card:hover .controls {
    display: block;
}

div.card p {
    margin: 5px;
}

.controls .card-delete, .controls .card-colour, .controls .card-link { 
    cursor: pointer;
}
.controls .card-delete:hover, .controls .card-colour:hover, .controls .card-link:hover { 
    color: #fff;
}
.controls .card-resize {
    float:right;
    margin-top: 5px;
    margin-right: 5px;
}

.card-yellow {
    background-color: #ffee66;
    background: -webkit-linear-gradient(#ffee66, #f5da41, #f6ef97);
    background: -moz-linear-gradient(#ffee66, #f5da41, #f6ef97);
    linear-gradient(#ffee66, #f5da41, #f6ef97);
}
.card-green {
  background-color: #ccffcc;
  background: -webkit-linear-gradient(#ccffcc, #c3eba7, #c3ffcc);
  background: -moz-linear-gradient(#ccffcc, #c3eba7, #c3ffcc);
  linear-gradient(#ccffcc, #c3eba7, #c3ffcc);
}
.card-red {
    background-color: #de8785;
    background: -webkit-linear-gradient(#de8785, #d57360, #de8785);
    background: -moz-linear-gradient(#de8785, #d57360, #de8785);
    linear-gradient(#de8785, #d57360, #de8785);  
}
.card-blue {
    background-color: #ccccff;
    background: -webkit-linear-gradient(#ccccff, #c3b9da, #ccccff);
    background: -moz-linear-gradient(#ccccff, #c3b9da, #ccccff);
    linear-gradient(##ccccff, #c3b9da, #ccccff);  
}
.card-white {
    background-color: #ffffff;
    background: -webkit-linear-gradient(#fefefe, #ffffff, #fefefe);
    background: -moz-linear-gradient(#fefefe, #ffffff, #fefefe);
    linear-gradient(#fefefe, #ffffff, #fefefe);  
}