/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
	height: 100%;
	width: 100%;
}

body.board {

}

.viewport-container {
	width: 100%; height: 100%;
	display:block;
    position:absolute;
    top:43px;
    left:0;
    overflow:hidden;    
}

.scale, .pan { 
	cursor: pointer;
}

.highlight { 
	box-shadow: 0 0 15px rgba(0, 0, 255, 1);
}

.nav { overflow: none; }

.viewport {
    width:100%;
    height:100%;
}
.viewport-background {
    background-image: url('/img/backgrounds/cork.jpg'); 
	background-repeat: repeat;
	background-size: 512px 384px;
	background-origin: content-box;
	background-position: 50% 50%;
}

li.card-list ul {
    overflow-x: hidden;
    overflow-y: scroll;	
}

.card {
	padding: 0;
	float: left;
	overflow: hidden;
	border: 1px #000000 solid;
}
.card textarea {
	width: 100%;
	height: 99%;
	resize: none;
	background-color: transparent;
	border: 0;
	color: #000000;
	overflow: hidden;
        z-index: 10;	
}
.card textarea:focus {
	outline: none;
}
.card .controls {
	display: none;
	float: left;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 22px;
	background-color: #CCCCCC;
	border-top-left-radius:  0.3em;
	border-top-right-radius:  0.3em;
	opacity: 0.65;
    z-index: 20;
}
div.card:hover .controls {
	display: block;
}

div.card p {
	margin: 5px;
}

.controls .card-delete, .controls .card-colour .card-link { 
	cursor: pointer;
}
.controls .card-resize {
	float:right;
	margin-top: 5px;
    margin-right: 5px;
}

.card-yellow {
	background-color: #F0F01D;
}
.card-green {
	background-image: linear-gradient(bottom, rgb(136,207,129) 47%, rgb(164,249,155) 74%, rgb(197,255,186) 87%);
	background-image: -o-linear-gradient(bottom, rgb(136,207,129) 47%, rgb(164,249,155) 74%, rgb(197,255,186) 87%);
	background-image: -moz-linear-gradient(bottom, rgb(136,207,129) 47%, rgb(164,249,155) 74%, rgb(197,255,186) 87%);
	background-image: -webkit-linear-gradient(bottom, rgb(136,207,129) 47%, rgb(164,249,155) 74%, rgb(197,255,186) 87%);
	background-image: -ms-linear-gradient(bottom, rgb(136,207,129) 47%, rgb(164,249,155) 74%, rgb(197,255,186) 87%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(136,207,129)),
		color-stop(0.74, rgb(164,249,155)),
		color-stop(0.87, rgb(197,255,186))
	);
}
.card-red {
	background-color: #DE8785;
}
.card-blue {
	background-color: #6178D4;
}
.card-white {
	background-color: #FFFFFF;
}

a.brand { 
	width: 300px;
	overflow: hidden;
	height: 20px;
}

div.tweet { 
	margin-bottom: 10px;
}

img.captcha {
	margin: 5px 0 15px 150px;
	border: 5px solid black;
	height: 100px; 
}


/* JQuery UI additions */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/* Custom website styles */

.masthead {
  height: 500px;
  background-image: url('../img/slide-01.jpg');
}

.page-header-banner {
  height: 200px;
  margin-bottom: 30px;
  background-image: url('../img/slide-01.jpg') !important;
  border-bottom: 5px solid #212325;
}

.masthead, .page-header-banner {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.page-header-banner h1 {
  margin-top: 120px;
  color: #fff;
  text-shadow: 0 0 5px #000;
}




