.nav { overflow: none; }

.nav .nav-header {
  text-shadow: none;
}

li.card-list ul {
    overflow-x: hidden;
    overflow-y: auto;	
}

li.card-list ul li span {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 2px 10px 2px -5px;  
}

li.card-list ul li p {
  padding-right: 15px;
  margin-bottom: 0;
}
