/* Custom Font */

@font-face {
    font-family: 'Open Sans';
    src: url('/css/font/OpenSans-Regular-webfont.eot');
    src: url('/css/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/font/OpenSans-Regular-webfont.woff') format('woff'),
         url('/css/font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/css/font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/css/font/OpenSans-Bold-webfont.eot');
    src: url('/css/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/font/OpenSans-Bold-webfont.woff') format('woff'),
         url('/css/font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/css/font/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Viewport Styles */

body { 
	height: 100%;
	width: 100%;
}

.viewport-container {
	width: 100%; height: 100%;
	display:block;
    position:absolute;
    top:43px;
    left:0;
    overflow:hidden;    
}
.viewport {
    width:100%;
    height:100%;
}
.viewport-background {
  background-image: url('/img/backgrounds/cork.jpg'); 
	background-repeat: repeat;
	background-size: 512px 384px;
	background-origin: content-box;
	background-position: 50% 50%;
}
