div.card .controls {
    display: none;
    float: left;
    position: absolute;
    top: -35px;
    height: 35px;
    right: 0;
    width: 100%; width: -moz-calc(100% - 0px); width: calc(100% - 0px);
    padding: 0px;
    padding-left: 5px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    color: #ddd;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    z-index: 20;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

div.card .controls .card-delete, .controls .card-colour, .controls .card-link, 
  .controls .card-zoom { 
    cursor: pointer;
    float: left;
    margin: 0;
    padding-top: 2px;
}

div.card .controls .card-delete:hover, .controls .card-colour:hover, 
    .controls .card-link:hover, .controls .card-zoom:hover { 
    color: #fff;
}

div.card .controls .card-resize {
    float:right;
    margin-top: 5px;
    margin-right: 5px;
}

div.card .controls .separator {
    width: 5px;
}
