<div data-role="popup" data-dialog="true" class="admin" id="board-access-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Update board access</h3>
    </div>
    <div class="modal-body">
        <p>Set passwords for the various access levels of the board below.</p>
        <form onsubmit="return false" class="form-horizontal">
            <fieldset>
                <%
                var levels = [
                    { label: "Administration", id: "admin" },
                    { label: "Write", id: "write" },
                    { label: "Read", id: "read" }
                ]
                %>
                <% levels.forEach(function(level) { %>
                <div class="control-group">
                    <label class="control-label"><%=level.label%></label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">
                                <label class="checkbox">
                                    <input type="checkbox" class="" checked="checked" name="password-<%=level.id%>-require" />
                                </label>
                            </span>
                            <input class="span2" placeholder="password" type="password" onmouseover="this.title=this.value" name="password-<%=level.id%>-value" />
                         </div>
                    </div>
                </div>
                <% }) %>
            </fieldset>
        </form>
        <p>If you use the same password for two levels users submitting that password will 
        gain the highest matching permission.</p>
    </div>
    <div class="modal-footer">
        <a href="#" id="close-board-access-modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary update-board-access">Update access</a>
    </div> 
</div>
