<div data-role="popup" data-dialog="true" id="board-access-modal" data-overlay-theme="b" data-theme="a" data-dismissible="false" class="ui-content admin">
    <div data-role="header" data-theme="b">
        <h1>Update board access</h1>
    </div>
    <div data-role="main" class="ui-content">
        <p>Set passwords for the various access levels of the board below.</p>
        <form onsubmit="return false" class="form-horizontal">
            <fieldset>
                <%
                var levels = [
                    { label: "Administration", id: "admin" },
                    { label: "Write", id: "write" },
                    { label: "Read", id: "read" }
                ]
                %>
                <% levels.forEach(function(level) { %>
                <div class="control-group">
                    <label class="control-label"><%=level.label%></label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">
                                <label class="checkbox">
                                    <input type="checkbox" class="" checked="checked" name="password-<%=level.id%>-require" />
                                </label>
                            </span>
                            <input class="span2" placeholder="password" type="password" onmouseover="this.title=this.value" name="password-<%=level.id%>-value" />
                         </div>
                    </div>
                </div>
                <% }) %>
            </fieldset>
        </form>
        <p>If you use the same password for two levels users submitting that password will 
        gain the highest matching permission.</p>

        <button id="close-board-access-modal" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back">Close</button>
        <button id="update-board-name" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a update-board-access" data-rel="back">Update access</button>
    </div> 
</div>