<div class="modal hide fade admin" id="set-board-name-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Update board name</h3>
    </div>
    <div class="modal-body">
        <input type="text" name="name" class="name-set" placeholder="add a name here..."/>
    </div>
    <div class="modal-footer">
        <button href="#" id="close-set-board-name-modal" class="btn">Close</button>
        <button href="#" id="update-board-name" class="btn btn-primary">Set name</button>
    </div> 
</div>
