<div data-role="popup" id="set-board-name-modal" data-overlay-theme="b" data-theme="a" data-dismissible="false" class="ui-content admin">
    <div data-role="header" data-theme="b">
        <h1>Board name</h1>
    </div>
    <div role="main" class="ui-content">
        <p>Enter a new board name in the field below. This will not affect the URL that is used to load the board.</p>
        <form onsubmit="return false;">
            <label for="name" class="ui-hidden-accessible">Board name:</label>
            <input type="text" name="name" class="name-set" data-theme="a" placeholder="add a name here..." />

            <button id="close-set-board-name-modal" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back">Close</button>
            <button id="update-board-name" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back">Set board name</button>
        </form>
    </div>
</div>
