<div data-role="popup" class="admin" id="set-board-name-modal" data-overlay-theme="b" data-theme="a" data-dismissible="false" class="ui-content">
    <div data-role="header" data-theme="b">
        <h1>Update board name</h1>
    </div>
    <div role="main" class="ui-content">
        <input type="text" name="name" class="name-set" data-theme="a" placeholder="add a name here..." />

        <button id="close-set-board-name-modal" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back">Close</button>
        <button id="update-board-name" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back">Set name</button>
    </div>
</div>
