<div data-role="popup" data-dialog="true" id="card-link-modal" data-overlay-theme="b" data-theme="a" class="ui-content">
    <div data-role="header" data-theme="b">
        <h1>Permalink to this card</h1>
    </div>
    <div data-role="main" class="ui-content">
        <p>To link to the card directly use the following URL:</p>
        <div class="card-link">link</div>
    </div>
    <div data-role="footer" data-theme="a">
        <button id="close-card-link-modal" data-role="button">All linked up</button>
    </div>
</div>