<div class="modal hide fade" id="card-link-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Link to this card</h3>
    </div>
    <div class="modal-body">
        <p>To link to the card directly use the following URL:</p>
        <div class="card-link">link</div>
    </div>
    <div class="modal-footer">
        <button id="close-card-link-modal" class="btn">Done</button>
    </div>
</div> 