<div data-role="popup" data-dialog="true" id="connection-status-modal">
    <div class="modal-header">
        <h3>Connection status</h3>
    </div>
    <div class="modal-body">
        <div>
        <img src="/img/ajax-loader.gif" />
        <span class="status-message">Connecting to your board...</span>
        </div>
    </div>
</div>